- var fruit = ["apple","banana","fuck"]
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block name
    block content
    p something you do
