extends layout
block content
	.container
		h1 login page
		br
		form(action="/login",method="post")
			label(for="username") User Name
			input(id="username",type="text",name="username")
			lable(for="password") Password
			input(id="password",type="text",name="password")
			input(type="submit",value="login")