extends layout
block name
	h1 People List
	table
		each pe in people
			tr
				td
					p #{pe.name}
				td 
					p #{pe.age}
				td
					p #{pe.books[0].name}
	form( action="/create",method="post")
		label(for="name") people name
		input(type="text",id="name",name="name")
		br
		lable(for="age") people age
		input(type="text",id="age",name="age")
		br
		lable(for="book") bookname
		input(type="text",id="book",name="bookname")
		br
		lable(for="pages") bookpage
		input(type="text",id="pages",name="pages")
		br
		input(type="submit" value="create")

