extends layout
block name
	if(!user)
		a(href="/login") Login
	br
	a(href="/register") Register
	if(user)
		p You are currently logged in as #{user.username}
		a(href="./logout") Logout

	h1 People List
	table#peopleTable
		each pe in people
			tr
				td
					input(type="hidden", value=pe._id,class="itemID")
				td
					input(type="text",value= pe.name,class="nameP") 
				td 
					input(type="text",value= pe.age,class="ageP") 
				td
					input(type="text",value= pe.books[0].name,class="bookP") 
				td
					a(id="link",href="/") update
				td
					a(href="/delete/:id") delete
	form( action="/create",method="post")
		label(for="name") people name
		input(type="text",id="name",name="name")
		br
		lable(for="age") people age
		input(type="text",id="age",name="age")
		br
		lable(for="book") bookname
		input(type="text",id="book",name="bookname")
		br
		lable(for="pages") bookpage
		input(type="text",id="pages",name="pages")
		br
		input(type="submit" value="create")
	script(src="/javascripts/peopleBook.js")

